/* OBECNÁ NASTAVENÍ */
.outerBox {
  padding-top: calc(var(--space-l) * 3);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
}

.innerBox {
  width: 80%;
}

.innerBox h2 {
  font-size: var(--size-xxl);
  color: white;
}

.innerBox p {
  font-size: var(--size-m);
  color: white;
}



/* NAVBAR */
nav {
  position: fixed;
  background-color: transparent;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-s) var(--space-m);
  box-sizing: border-box;
  margin: 0;
  z-index: 2;
}

.nav-links {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
}

.navLink {
  text-decoration: none;
  font-family: var(--main-font);
  letter-spacing: 2px;
  font-size: var(--size-m);
  padding: var(--space-xxs) var(--space-s);
  color: white;
}

.navLink:hover {
  cursor: pointer;
  color: var(--hover-color);
}

.navLink.active {
  color: var(--hover-color);
  background-color: var(--main-color);
  border-radius: 16px;
}

.nav.scrolled {
  background-color: var(--second-color);
  padding-top: var(--space-xs);
  padding-bottom: var(--space-xs);
}

#homeLink {
  color: var(--main-color);
  background-color: transparent;
  border-radius: 16px;
}


/* HAMBURGER */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  height: 3px;
  width: 35px;
  background-color: var(--main-color);
  border-radius: 3px;
  transition: all 0.3s ease;
  margin-bottom: 10px;
}

.nav.scrolled .hamburger {
  margin-top: var(--space-xs);
}


/* Přechod hamburgeru na křížek */
.nav.open .bar:nth-child(1) {
  transform: rotate(45deg) translate(5px, 13.5px) scaleX(1.2);
}

.nav.open .bar:nth-child(2) {
  opacity: 0;
}

.nav.open .bar:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -13.5px) scaleX(1.2);
}

@media only screen and (max-width: 1000px) {
  /* NAVBAR */
  .nav-links {
    display: none;
  }

  .nav.open {
    padding-top: 0;
  }

  .nav.open .nav-links {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    text-align: center;
    transition: 0.3s ease-in-out;
    margin-top: 0;
    z-index: 1;
    padding-top: var(--space-xs);
    padding-bottom: var(--space-xs);
  }

  .navLink {
    margin-bottom: var(--space-xxs);
    color: var(--second-color);
  }

  .hamburger {
    display: flex;
    z-index: 2;
    margin-top: var(--space-s);
  }

  .nav.open .bar {
    background-color: var(--hover-color);
  }
  
  .nav-links.show {
    display: flex;
    background-color: var(--main-color);
  }

  #homeLink {
    color: var(--second-color);
  }
}

/* HOME */


/* ABOUT */


/* CONTACT */