
//VARIABLES

//fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
$main-font: "Roboto", sans-serif;

//colors
$main-color: #58a0dc;
$dark-color: #11658f;
$light-color: #d6f4ff;
$contrast-color: #e39e21;
$hover-color: #3b4856;

//font sizes
$f-xxxs: 1rem;
$f-xxs: 1.3rem;
$f-xs: 1.5rem;
$f-s: 1.8rem;
$f-m: 2rem;
$f-l: 2.5rem;
$f-xl: 3rem;
$f-xxl: 3.6rem;
$f-xxxl: 4rem;

//spaces
$s-xxxs: 0.5rem;
$s-xxs: 1rem;
$s-xs: 2rem;
$s-s: 3rem;
$s-m: 4rem;
$s-l: 5rem;
$s-xl: 6rem;
$s-xxl: 7rem;
$s-xxxl: 9rem;



//mixins
@mixin column-start-center {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

@mixin column-start-start {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

@mixin row-center-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@mixin row-between-center {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@mixin row-start-center {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

@mixin row-start-start {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
}


//breakpoints
$breakpoints: (
    "w-330": 330px,
    "w-400": 400px,
    "w-600": 600px,
    "w-800": 800px,
    "w-1000": 1000px,
    "w-1400": 1400px,
    "w-2000": 2000px,
    "w-3000": 3000px 
);

@mixin w-330 {
    @media only screen and (max-width: map-get($breakpoints, "w-330")) {
        @content;
    }
};

@mixin w-400 {
    @media only screen and (max-width: map-get($breakpoints, "w-400")) {
        @content;
    }
};

@mixin w-600 {
    @media only screen and (max-width: map-get($breakpoints, "w-600")) {
        @content;
    }
};

@mixin w-800 {
    @media only screen and (max-width: map-get($breakpoints, "w-800")) {
        @content;
    }
};

@mixin w-1000 {
    @media only screen and (max-width: map-get($breakpoints, "w-1000")) {
        @content;
    }
};

@mixin w-1400 {
    @media only screen and (max-width: map-get($breakpoints, "w-1400")) {
        @content;
    }
};

@mixin w-2000 {
    @media only screen and (min-width: map-get($breakpoints, "w-2000")) {
        @content;
    }
};

@mixin w-3000 {
    @media only screen and (min-width: map-get($breakpoints, "w-3000")) {
        @content;
    }
};




body, html {
    font-size: 62.5%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: $main-color;
    color: black;
    font-family: $main-font;
    overflow-x: hidden;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
}
